{% extends 'warehouse/warehouse-navbar.html' %} {% block content %}

<div class="content m-auto">
   <div class="container">
      <h2>Các đơn hàng cần giao</h2>
   </div>
   <table class="table table-striped m-auto">
      <thead>
         <tr>
            <th scope="col">Mã đơn</th>
            <th scope="col">Khách hàng</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Phân shipper</th>
         </tr>
      </thead>
      <tbody>
         {% for order in orders %}

         <tr>
            <th >{{ order.id  }}</th>
            <td>{{  order.personid.userid.username  }}</td>
            <td>{{ order.total_money  }}</td>
            <td>
                <a href="delivery/shareShipper/{{order.id}}" class="editButton">
                     <p class="editText">Chia shipper</p>
                  </a>
            </td>
         </tr>
         {% endfor %}

      </tbody>
   </table>
</div>

{% endblock content %}
