{% extends 'warehouse/warehouse-navbar.html' %} {% block content %}

<div class="container">
   <div class="card">
   <div class="card-header">
      Chia shipper
   </div>
   <div class="card-body">
      <form action="/delivery/share/{{order.id}}" method="post">
         {% csrf_token %}

         <div class="form-group">
            <label for="exampleInputEmail1">Đơn hàng</label>
            <input  class="form-control" value="{{order.id}}">
         </div>
         <div class="form-group">
            <label for="exampleInputEmail1">Khách hàng</label>
            <input  class="form-control" value="{{order.personid.userid.username}}">
         </div>
         <div class="form-group">
            <label for="exampleInputEmail1">Giá trị đơn hàng</label>
            <input  class="form-control" value="{{order.total_money}}">
         </div>
         <div class="form-group">
            <label for="exampleInputEmail1">Chọn shipper giao hàng</label>
            {% for shipper in shippers %}

            <div class="form-check">
               <input class="form-check-input" type="radio" name="shipperId" id="exampleRadios{{ shipper.id }}" value="{{ shipper.id }}" >
               <label class="form-check-label" for="exampleRadios{{ shipper.id }}">
                  {{ shipper.userid.username }}
               </label>
            </div>
            {% endfor %}
         </div>
         <button type="submit" class="btn btn-primary">Lưu</button>
      </form>
   </div>
   </div>
</div>
{% endblock content %}
