<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {% load static %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <link rel="stylesheet" type="text/css" href="{% static 'ecommerce/warehouse/warehouse-navbar.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'ecommerce/warehouse/warehouse-homepage.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'ecommerce/warehouse/category.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'ecommerce/warehouse/inventory_add.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'ecommerce/warehouse/statistical.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'ecommerce/warehouse/supplier.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'ecommerce/warehouse/add-book.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'ecommerce/warehouse/add-electro.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'ecommerce/warehouse/add-clothes.css' %}" />

      <title>Warehouse</title>
   </head>
   <body>
      <div class="wrapper">
         <div class="flex">
            <h1 class="title">Nhân viên kho</h1>
         </div>

         <div class="container">
             <a href="delivery" class="item_wrapper">
               <p class="text">Giao hàng</p>
            </a>
            <a href="/warehouse-homepage" class="item_wrapper">
               <p class="text">Kho</p>
            </a>
            <a href="/inventory/add" class="item_wrapper">
               <p class="text">Thêm hàng</p>
            </a>
            <a href="/category" class="item_wrapper">
               <p class="text">Category</p>
            </a>
            <a href="/supplier" class="item_wrapper">
               <p class="text">Nhà cung cấp</p>
            </a>
            <a href="/statistical" class="item_wrapper">
               <p class="text">Thống kê</p>
            </a>
         </div>

         <div class="flex">
            <a href="/staff/logout" class="item_wrapper_2">
               <p class="text">Đăng xuất</p>
            </a>
         </div>
      </div>

      {% block content %} {% comment %} Child in here {% endcomment %} {% endblock %}
   </body>
</html>
