{% extends 'customer/customer-navbar.html' %} {% block content %}

<div class="contentWrapper">
   {% for mes in messages %}
   <p style="position: absolute; color: red; font-size: 20px">Lỗi: {{mes}}!</p>
   {% endfor %}

   <p class="titleText">Sách</p>
   <table class="table">
      <tr>
         <th>ID</th>
         <th>Tên</th>
         <th>Giá</th>
         <th>Giá sale</th>
         <th>Số lượng</th>
         <th>Nhà cung cấp</th>
         <th>Tác giả</th>
         <th>Thể loại</th>
         <th>Sale</th>
         <th>Mô tả</th>
         <th>Tùy chọn</th>
      </tr>
      {% for item in product %} {% if item.type == 1 %}
      <tr>
         <td>{{item.id}}</td>
         <td>{{item.inventoryid.bookid.name}}</td>
         <td>{{item.price}} VNĐ</td>
         <td>{{item.salePrice}} VNĐ</td>
         <td>{{item.quantity}}</td>
         <td>{{item.inventoryid.bookid.supplierid.name}}</td>
         <td>{{item.inventoryid.bookid.author}}</td>
         <td>{{item.inventoryid.bookid.categoryid.name}}</td>
         <td>{{item.sale}}%</td>
         <td>{{item.description}}</td>
         <td>
            <form action="cart/add/{{item.id}}" method="post">
               {% csrf_token %}
               <input class="quantity_input" placeholder="Số lượng" type="number" name="quantity" />
               <button type="submit" class="editButton">
                  <p class="editText">Thêm vào giỏ hàng</p>
               </button>
               {% comment %} <a href="/cart/add?id={{item.id}}" class="editButton"> </a> {% endcomment %}
            </form>
         </td>
      </tr>
      {% endif %} {% endfor %}
   </table>

   <p class="titleText">Đồ điện tử</p>
   <table class="table">
      <tr>
         <th>ID</th>
         <th>Tên</th>
         <th>Giá</th>
         <th>Giá sale</th>
         <th>Số lượng</th>
         <th>Nhà cung cấp</th>
         <th>Chiều rộng</th>
         <th>chiều cao</th>
         <th>Cân nặng</th>
         <th>Nhãn hiệu</th>
         <th>Sale</th>
         <th>Mô tả</th>
         <th>Tùy chọn</th>
      </tr>
      {% for item in product %} {% if item.type == 2 %}
      <tr>
         <td>{{item.id}}</td>
         <td>{{item.inventoryid.electroid.name}}</td>
         <td>{{item.price}} VNĐ</td>
         <td>{{item.salePrice}} VNĐ</td>
         <td>{{item.quantity}}</td>
         <td>{{item.inventoryid.electroid.supplierid.name}}</td>
         <td>{{item.inventoryid.electroid.width}}</td>
         <td>{{item.inventoryid.electroid.height}}</td>
         <td>{{item.inventoryid.electroid.weight}}</td>
         <td>{{item.inventoryid.electroid.branch}}</td>
         <td>{{item.sale}}%</td>
         <td>{{item.description}}</td>
         <td>
            <form action="cart/add/{{item.id}}" method="post">
               {% csrf_token %}
               <input class="quantity_input" placeholder="Số lượng" type="number" name="quantity" />
               <button type="submit" class="editButton">
                  <p class="editText">Thêm vào giỏ hàng</p>
               </button>
               {% comment %} <a href="/cart/add?id={{item.id}}" class="editButton"> </a> {% endcomment %}
            </form>
         </td>
      </tr>
      {% endif %} {% endfor %}
   </table>

   <p class="titleText">Quần áo</p>
   <table class="table">
      <tr>
         <th>ID</th>
         <th>Tên</th>
         <th>Giá</th>
         <th>Giá sale</th>
         <th>Số lượng</th>
         <th>Nhà cung cấp</th>
         <th>Kích cỡ</th>
         <th>Loại</th>
         <th>Nhãn hiệu</th>
         <th>Màu sắc</th>
         <th>Sale</th>
         <th>Mô tả</th>
         <th>Tùy chọn</th>
      </tr>
      {% for item in product %} {% if item.type == 3 %}
      <tr>
         <td>{{item.id}}</td>
         <td>{{item.inventoryid.clothesid.name}}</td>
         <td>{{item.price}} VNĐ</td>
         <td>{{item.salePrice}} VNĐ</td>
         <td>{{item.quantity}}</td>
         <td>{{item.inventoryid.clothesid.supplierid.name}}</td>
         <td>{{item.inventoryid.clothesid.size}}</td>
         <td>{{item.inventoryid.clothesid.fashioncategory_id.name}}</td>
         <td>{{item.inventoryid.clothesid.branch}}</td>
         <td>{{item.inventoryid.clothesid.color}}</td>
         <td>{{item.sale}}%</td>
         <td>{{item.description}}</td>
         <td>
            <form action="cart/add/{{item.id}}" method="post">
               {% csrf_token %}
               <input class="quantity_input" placeholder="Số lượng" type="number" name="quantity" />
               <button type="submit" class="editButton">
                  <p class="editText">Thêm vào giỏ hàng</p>
               </button>
               {% comment %} <a href="/cart/add?id={{item.id}}" class="editButton"> </a> {% endcomment %}
            </form>
         </td>
      </tr>
      {% endif %} {% endfor %}
   </table>
</div>

{% endblock content %}
