{% extends 'customer/customer-navbar.html' %} {% block content %}

<div class="">
   <div class="container">
      <div style="width: 80%">
         <h2>Thông tin các đơn hàng của bạn<h2>
      </div>
      {% for order in listOrder %}
      <div class="card m-t-2" style="margin-top:12px">
          <div class="card-header">
            Mã đơn hàng {{ order.id }}
         </div>
         <div class="card-body">
            <p>Ngày tạo đơn: {{ order.created_time }}</p>
            <p style="color:orange">Trạng thái đơn hàng: 
               {% if order.status == 0%}
                  Chờ xác nhận
               {% elif order.status ==  1 %}
                  Đã xác nhận
               {% elif order.status ==  2 %}
                  Đã giao cho đơn vị vận chuyển
               {% elif order.status ==  3 %}
                  Đã nhận hàng
               {% elif order.status ==  4 %}
                  Không nhận hàng
               {% elif order.status ==  5 %}
                  Đã hủy
               {% endif %}
            </p>
            <p>Hình thức thanh toán: Thanh toán khi nhận hàng</P>
            <p>Địa chỉ nhận hàng: {{ order.address }}</p>
            <p style="color:red"> Tổng tiền: {{ order.total_money }}</p>
         </div>
      </div>
      {% endfor %}

   </div>

   
</div>

{% endblock content %}
