<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'ecommerce/customer/register.css' %}" />
      <title>Register</title>
   </head>
   <body>
      <div class="body_wrapper">
         <div class="login_wrapper" style="top:20%">
            <p class="headerText1">REGISTER</p>

            <form style="width: 100%" action="register" method="post">
               {% csrf_token %}
               <div class="formWrapper">
                  <label class="login_label" for="name">Username</label>
                  <input class="login_input" type="text" name="username" />

                  <label class="login_label" for="password">Password</label>
                  <input class="login_input" type="password" name="password" />

                  <label class="login_label" for="repassword">Re-Password</label>
                  <input class="login_input" type="password" name="repassword" />

                  <label class="login_label" for="name">First Name</label>
                  <input class="login_input" type="text" name="first_name" />

                  <label class="login_label" for="name">Last Name</label>
                  <input class="login_input" type="text" name="last_name" />

                  <label class="login_label" for="gender">Gender</label>
                  <div class="row">
                     <div class="item"><input class="margin" type="radio" name="gender" value="1" />&nbsp Male</div>
                     <div class="item"><input class="margin" type="radio" name="gender" value="2" />&nbsp Female</div>
                     <div class="item"><input class="margin" type="radio" name="gender" value="3" />&nbsp Other</div>
                  </div>

                  <label class="login_label" for="Phone">Phone</label>
                  <input class="login_input" type="text" name="Phone" />

                  <label class="login_label" for="Email">Email</label>
                  <input class="login_input" type="text" name="Email" />

                  <label class="login_label" for="birth">Date of birth</label>
                  <input class="login_input" type="date" name="birth" value="21/08/1999"/>

                  {% comment %} <label class="login_label" for="address">Address</label>
                  <input class="login_input" type="text" name="address" /> {% endcomment %}
                  <button type="submit" class="loginButton">Đăng ký</button>
               </div>
            </form>
            <div class="bottomText">
               {% for mes in messages %}
               <p class="errorText">{{mes}}!!</p>
               {% endfor %}
            </div>
         </div>
      </div>
   </body>
</html>
