{% extends 'customer/customer-navbar.html' %} {% block content %}

<div class="contentWrapper2">
   <div class="cart_left_view">
      <div style="width: 70%">
         <p class="titleText">Đơn hàng</p>
         <table style="width: 100%" class="table">
            <tr>
               <th>ID</th>
               <th>Tên</th>
               <th>Giá sale</th>
               <th>Số lượng</th>
            </tr>
            {% for item in carts %}
            <tr>
               <td>{{item.productid.id}}</td>
               <td>
                  {% if item.productid.type == 1 %}
                  <p>{{item.productid.inventoryid.bookid.name}}</p>
                  {% elif item.productid.type == 2 %}
                  <p>{{item.productid.inventoryid.electroid.name}}</p>
                  {% elif item.productid.type == 3 %}
                  <p>{{item.productid.inventoryid.clothesid.name}} {% endif %}</p>
               </td>
               <td>{{item.productid.salePrice}} VNĐ</td>
               <td>{{item.quantity}}</td>
            </tr>
            {% endfor %}
         </table>
      </div>
   </div>

   <div class="cart_right_view">
      <div class="cart_cre_row">
         <div class="cart_cre_left">
            <p class="cre_title">Tên khách hàng:&nbsp&nbsp</p>
         </div>
         <p class="cre_content">{{person.name}}</p>
      </div>
      <div class="cart_cre_row">
         <div class="cart_cre_left">
            <p class="cre_title">Số điện thoại:&nbsp&nbsp</p>
         </div>
         <p class="cre_content">{{person.phone}}</p>
      </div>
      

      <form action="/order/create" method="get">
         {% csrf_token %}
         <div class="">
            <div class="cart_cre_left">
               <p class="cre_title">Địa chỉ nhận hàng</p>
            </div>
            {% for address in listAddress %}
               <div class="input-group">
                  <div class="input-group-prepend">
                     <div class="input-group-text">
                     <input type="radio" name="address" value="{{  address.id  }}">
                     </div>
                  </div>
                  <input type="text" readonly class="form-control" value="{{  address.address }} ">
               </div>
            {% endfor %}
         </div>
         <div class="">
            <div class="cart_cre_left">
               <p class="cre_title">Hình thức thanh toán</p>
            </div>
            <div class="input-group">
               <div class="input-group-prepend">
                  <div class="input-group-text">
                  <input type="radio" name="type_payment" value="1">
                  </div>
               </div>
               <input type="text" readonly class="form-control" value="Thanh toán online">
            </div>
            <div class="input-group">
               <div class="input-group-prepend">
                  <div class="input-group-text">
                  <input type="radio" name="type_payment" value="0">
                  </div>
               </div>
               <input type="text" readonly class="form-control" value="Thanh toán khi nhận hàng">
            </div>
         </div>

         <div class="cart_button_wrapper">
            <p class="cart_total">Tổng tiền: {{total}} VNĐ</p>
            <button type="submit" name="all" class="cart_create_order">Đặt hàng</button>
         </div>
      </form>
   </div>
</div>

{% endblock content %}
