{% extends 'sale/sale-navbar.html' %} {% block content %}

<div class="contentWrapper">
   <div class="headerWrapper">
      <p class="headerText">Danh sách đơn hàng đang chờ</p>
   </div>

   {% for order in orders %}
   <div class="order_wrapper">
      <div class="order_cre_row">
         <p class="order_cre_left">Tên khách hàng:&nbsp&nbsp</p>
         <p class="order_cre_right">{{order.personid.userid.username}}</p>
      </div>
      <div class="order_cre_row">
         <p class="order_cre_left">Địa chỉ:&nbsp&nbsp</p>
         <p class="order_cre_right">{{order.address}}</p>
      </div>
      <div class="order_cre_row">
         <p class="order_cre_left">Số điện thoại:&nbsp&nbsp</p>
         <p class="order_cre_right">{{order.personid.phone}}</p>
      </div>
      <div class="order_cre_row">
         <p class="order_cre_left">Thời gian:&nbsp&nbsp</p>
         <p class="order_cre_right">{{order.created_time}}</p>
      </div>
      <div class="order_cre_row">
         <p class="order_cre_left">Phương thức thanh toán:&nbsp&nbsp</p>

         <p class="order_cre_right">Thanh toán khi nhận hàng</p>
      </div>
      <div class="order_cre_row">
         <p class="order_cre_left">Tổng:&nbsp&nbsp</p>
         <p class="order_cre_right">{{order.total_money}} vnđ</p>
      </div>
      <table style="width: 100%" class="table">
         <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>Giá sale</th>
            <th>Số lượng</th>
         </tr>
         <tr>
            <td>{{order.id}}</td>
            <td>
               {% if order.cartid.productid.inventoryid.type == 1 %}
               <p>{{order.cartid.productid.inventoryid.bookid.name}}</p>
               {% elif order.cartid.productid.inventoryid.type == 2 %}
               <p>{{order.cartid.productid.inventoryid.electroid.name}}</p>
               {% elif order.cartid.productid.inventoryid.type == 3 %}
               <p>{{order.cartid.productid.inventoryid.clothesid.name}} {% endif %}</p>
            </td>
            <td>{{order.cartid.productid.price}} VNĐ</td>
            <td>{{order.cartid.quantity}}</td>
         </tr>
      </table>

      <div class="bottomRow">
         <a href="/order/reject?id={{order.id}}" class="reject_order_wrapper">
            <p class="confirmText">Từ chối</p>
         </a>
         <a href="/order/confirm?id={{order.id}}" class="confirm_order_wrapper">
            <p class="confirmText">Tiếp nhận</p>
         </a>
      </div>
   </div>

   {% endfor %}
</div>

{% endblock content %}
