{% extends 'warehouse/shipper-navbar.html' %} {% block content %}

<div class="content m-auto">
   <div class="container">
      <h2>Các đơn hàng đã hủy</h2>
   </div>
   <table class="table table-striped m-auto">
      <thead>
         <tr>
            <th scope="col">Mã đơn</th>
            <th scope="col">Khách hàng</th>
            <th scope="col">Tổng tiền</th>
            {% comment %} <th scope="col">Thao tác</th> {% endcomment %}
         </tr>
      </thead>
      <tbody>
         {% for delivery in listDelivery %}

         <tr>
            <th >{{ delivery.transportationid.orderid.id  }}</th>
            <td>{{ delivery.transportationid.orderid.personid.userid.username  }}</td>
            <td>{{ delivery.transportationid.orderid.total_money  }}</td>
            {% comment %} <td>
                <a href="delivery/confirm/{{ delivery.id  }}?status=3" class="editButton">
                     <p class="editText">Đã nhận</p>
                  </a>
                 <a href="delivery/confirm/{{ delivery.id  }}?status=4" class="editButton">
                     <p class="editText">Không nhận</p>
                  </a>
            </td> {% endcomment %}
         </tr>
         {% endfor %}

      </tbody>
   </table>
</div>


{% endblock content %}
