{% extends 'business/business-navbar.html' %} {% block content %}

<div class="contentWrapper">
   <form method="post" action="/business/inventory/search" class="inventorySearchWrapper">
      {% csrf_token %}
      <input class="input" type="text" placeholder="Nhập tên hàng cần tìm kiếm" name="inventory-search" />
      <button type="submit" class="submitButton">Tìm kiếm</button>
   </form>
   <div class="headerWrapper">
      <p class="headerText">Danh sách hàng trong kho</p>
      {% comment %}
      <div class="addButton">
         <a href="/inventory/add" class="addText">Thêm mới</a>
      </div>
      {% endcomment %}
   </div>

   <p class="titleText">Sách</p>
   <table class="table">
      <tr>
         <th>ID</th>
         <th>Tên</th>
         <th>Giá</th>
         <th>Số lượng</th>
         <th>Nhà cung cấp</th>
         <th>Tác giả</th>
         <th>Thể loại</th>
         <th>Trạng thái</th>
         <th>Tùy chọn</th>
      </tr>
      {% for item in inventory %} {% if item.type == 1 %}
      <tr>
         <td>{{item.id}}</td>
         <td>{{item.bookid.name}}</td>
         <td>{{item.price}} VNĐ</td>
         <td>{{item.quantity}}</td>
         <td>{{item.bookid.supplierid.name}}</td>
         <td>{{item.bookid.author}}</td>
         <td>{{item.bookid.categoryid.name}}</td>
         <td>
            {% if item.onLive == True %}
            <p style="color: #0066ff">Đang bán</p>
            {% endif %} {% if item.onLive == False %}
            <p style="color: #ff0000">Trong kho</p>
            {% endif %}
         </td>
         <td>
            {% if item.quantity > 0 %}
            <a href="/product/book/add-form?id={{item.id}}" class="editButton">
               <p class="editText">Thêm</p>
            </a>
            {% endif %} {% if item.quantity <= 0 %}
            <div class="editButton">
               <p class="editText">Hết hàng</p>
            </div>
            {% endif %}
         </td>
      </tr>
      {% endif %} {% endfor %}
   </table>

   <p class="titleText">Đồ điện tử</p>
   <table class="table">
      <tr>
         <th>ID</th>
         <th>Tên</th>
         <th>Giá</th>
         <th>Số lượng</th>
         <th>Nhà cung cấp</th>
         <th>Chiều rộng</th>
         <th>chiều cao</th>
         <th>Cân nặng</th>
         <th>Nhãn hiệu</th>
         <th>Trạng thái</th>
         <th>Tùy chọn</th>
      </tr>
      {% for item in inventory %} {% if item.type == 2 %}
      <tr>
         <td>{{item.id}}</td>
         <td>{{item.electroid.name}}</td>
         <td>{{item.price}} VNĐ</td>
         <td>{{item.quantity}}</td>
         <td>{{item.electroid.supplierid.name}}</td>
         <td>{{item.electroid.width}}</td>
         <td>{{item.electroid.height}}</td>
         <td>{{item.electroid.weight}}</td>
         <td>{{item.electroid.branch}}</td>
         <td>
            {% if item.onLive == True %}
            <p style="color: #0066ff">Đang bán</p>
            {% endif %} {% if item.onLive == False %}
            <p style="color: #ff0000">Trong kho</p>
            {% endif %}
         </td>
         <td>
            {% if item.quantity > 0 %}
            <a href="/product/electro/add-form?id={{item.id}}" class="editButton">
               <p class="editText">Thêm</p>
            </a>
            {% endif %} {% if item.quantity <= 0 %}
            <div class="editButton">
               <p class="editText">Hết hàng</p>
            </div>
            {% endif %}
         </td>
      </tr>
      {% endif %} {% endfor %}
   </table>

   <p class="titleText">Quần áo</p>
   <table class="table">
      <tr>
         <th>ID</th>
         <th>Tên</th>
         <th>Giá</th>
         <th>Số lượng</th>
         <th>Nhà cung cấp</th>
         <th>Kích cỡ</th>
         <th>Loại</th>
         <th>Nhãn hiệu</th>
         <th>Màu sắc</th>
         <th>Trạng thái</th>
         <th>Tùy chọn</th>
      </tr>
      {% for item in inventory %} {% if item.type == 3 %}
      <tr>
         <td>{{item.id}}</td>
         <td>{{item.clothesid.name}}</td>
         <td>{{item.price}} VNĐ</td>
         <td>{{item.quantity}}</td>
         <td>{{item.clothesid.supplierid.name}}</td>
         <td>{{item.clothesid.size}}</td>
         <td>{{item.clothesid.fashioncategoryid.name}}</td>
         <td>{{item.clothesid.branch}}</td>
         <td>{{item.clothesid.color}}</td>
         <td>
            {% if item.onLive == True %}
            <p style="color: #0066ff">Đang bán</p>
            {% endif %} {% if item.onLive == False %}
            <p style="color: #ff0000">Trong kho</p>
            {% endif %}
         </td>
         <td>
            {% if item.quantity > 0 %}
            <a href="/product/clothes/add-form?id={{item.id}}" class="editButton">
               <p class="editText">Thêm</p>
            </a>
            {% endif %} {% if item.quantity <= 0 %}
            <div class="editButton">
               <p class="editText">Hết hàng</p>
            </div>
            {% endif %}
         </td>
      </tr>
      {% endif %} {% endfor %}
   </table>
</div>

{% endblock content %}
